@import url('https://fonts.cdnfonts.com/css/montserrat');

*, *::after, *::before{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #303030;    
    
}
body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
h1, h2, h3, h4, h5, h6, a, li, p, span, button { font-family: 'Montserrat', sans-serif; }

.push{
    position: fixed;
    top: 0; left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    z-index: 10000 !important;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.push.active { -webkit-transform: none; -ms-transform: none; transform: none; }
.push_window{
    max-width: 50vw;
    background: #FFF;
    border-radius: max(1vw, 1vh);
    padding: max(3vw, 3vh) max(5vw, 5vh);
}
.push_header, .push_body, .push_actions{
    border: 1px solid white;
    width: 100%;
    margin: 1vw auto;
}
.push_title{
    text-align: center;
    font-weight: 800;
    font-size: max(2.3vw, 2.3vh);
    color: #313131;
}
.push_title.red_push { color: red; }
.push_message{
    font-weight: 400;
    font-size: max(1.6vw, 1.6vh);
    margin: max(2vw, 2vh) auto;
    color: #313131;
}
.push_actions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.push_button{
    border: max(.3vw, .3vh) solid #6CC34D;
    border-radius: max(3vw, 3vh);
    padding: max(1vw, 1vh) max(2vw, 2vh);
    font-size: max(1.6vw, 1.6vh);
    text-align: center;
    background: white;
    color: #6CC34D;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    margin: auto;
}
.push_button:hover{
    background: #6CC34D;
    color: white;
}
.push_button.red_push_button{
    border: max(.3vw, .3vh) solid red;
    background: rgba(255, 0, 0, .5);
    color: #313131;
}
.push_button.red_push_button:hover{
    background: red;
    color: white;
}