

.content-prises{
    position: relative;
    margin: 5vw 0;
    width: 55vw;
    height: 55vw;
}

#circle-bg{
    position: absolute;
    display: block;
    width: 55vw;
    height: 55vw;
    background-image: url(../img/prise-circle/circle-bg.webp);
    background-size: cover;
    background-position: center center;
}
#circle-bg::before{
    content: '';
    position: absolute;
    display: block;
    width: 20vw;
    height: 30vw;
    left: 17.5vw;
    top: -3.0vw;
    background-image: url(../img/prise-circle/circle-detail.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 50;
}

#circle-bg::after{
    content: '';
    position: absolute;
    display: block;
    width: 7vw;
    height: 7vw;
    left: 24vw;
    top: 24vw;
    background-image: url(../img/prise-circle/circle-center.webp);
    background-size: cover;
    background-position: center center;
    z-index: 50;
}
#circle{
    position: absolute;
    display: block;
    width: 50vw;
    height: 50vw;
    top: 2.5vw;
    left: 2.5vw;
    background-image: url(../img/prise-circle/circle-info.webp);
    background-size: cover;
    background-position: center center;
    z-index: 20;
}

@media (orientation: portrait) {
    .content-prises{
        position: relative;
        margin: 5vh 0;
        width: 75vw;
        height: 75vw;
    }
    #circle-bg{
        width: 75vw;
        height: 75vw;
    }
    #circle-bg::before{
        width: 7.5vw;
        height: 12vw;
        left: 33.5vw;
        top: -5.5vw;
    }
    #circle-bg::after{
        width: 7.5vw;
        height: 7.5vw;
        left: 33.5vw;
        top: 33.5vw;
    }
    #circle{
        width: 70vw;
        height: 70vw;
        top: 2.5vw;
        left: 2.5vw;
    }
}