main{
    width: 100%;
    overflow: hidden;
    background: #03090B;
    padding-top: 5vh;
    background-image: url(../img/landing4/bg.webp);
    background-position: center center;
    background-size: contain;
    background-repeat: repeat-y;
}
article { position: relative; }

.content{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    margin-bottom: 13vw;
}
.content-title{
    max-width: 80%;
    font-weight: 900;
    font-size: max(3.6vw, 3.6vh);
    line-height: max(4.4vw, 4.4vh);
    text-align: center;

    color: #FFFFFF;
}
.content-subtitle{
    font-weight: 400;
    font-size: max(1.7vw, 1.7vh);
    line-height: max(2vw, 2vh);
    text-align: center;
    color: #FFFFFF;
}
.content-description{
    max-width: 57vw;
    margin: auto;
    font-weight: 400;
    font-size: max(1.7vw, 1.7vh);
    line-height: max(2vw, 2vh);
    color: #FFFFFF;
}
.content-more{
    font-weight: 700;
    font-size: max(2.1vw, 2.1vh);
    line-height: max(2.6vw, 2.6vh);
    text-align: center;
    text-decoration: none;
    padding: max(2vw, 2vh) max(7vw, 7vh);

    color: #FFFFFF;
    background: linear-gradient(89.7deg, #B5201C 36.16%, #EF6F2B 104.01%);
    border-radius: max(1.6vw, 1.6vh);
    z-index: 2;
}

#img1{
    width: 50vw;
    z-index: 2;
}
.content.left-content{
    align-items: flex-end;
    justify-content: flex-end;
    width: 90vw;
    margin: auto;
}
.right_zone{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50vw; height: 40vw;
    z-index: 5;
}
.right_zone span{
    font-weight: 400;
    font-size: max(1.3vw, 1.3vh);
    line-height: max(1.6vw, 1.6vh);
    color: #FFFFFF;
}
.right_zone h1{
    font-weight: 900;
    max-width: 100%;
    font-size: max(2.6vw, 2.6vh);
    line-height: max(3.2vw, 3.2vh);
    color: white;
}
.right_zone p{
    font-weight: 400;
    font-size: max(1.7vw, 1.7vh);
    line-height: max(2vw, 2vh);    
    color: #FFFFFF;
}
.right_zone .content-more{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    font-weight: 500;
    font-size: max(1.6vw, 1.6vh);
    line-height: max(2vw, 2vh);
    padding: 0 max(4vw, 4vh);
}
.add-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    background: white;
    border-radius: max(1.6vw, 1.6vh);
}
.add-info span{
    font-weight: 700;
    font-size: max(2.1vw, 2.1vh);
    line-height: max(2.6vw, 2.6vh);
    text-align: center;

    color: #BC3826;
    padding: 1vw 1vw;
}
.add-info span span{
    font-weight: 500;
    font-size: max(1.6vw, 1.6vh);
    line-height: max(2.0vw, 2.0vh);
}


.second_block{
    width: 80vw;
    height: 35vw;
    margin: 5vw auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.ifs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.reason{
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(32, 32, 32, 0.7);
    backdrop-filter: blur(47px);
    border-radius: 20px;
    padding: 1vw 0vw;
    padding-right: 2vw;
    margin: 0vw 0vw 1vw 0vw;
}
.reason span{
    width: 20%;
    font-weight: 900;
    font-size: max(6.8vw, 6.8vh);
    line-height: max(8.2vw, 8.2vh);
    background: linear-gradient(123.22deg, #B6211D -31.22%, #E46029 108.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0 2vw;
    text-align: center;
}
.reason p{
    font-weight: 400;
    font-size: max(1.7vw, 1.7vh);
    line-height: max(2vw, 2vh);
    color: #FFFFFF;
}

.button-area{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.button-subtitle{
    font-weight: 600;
    font-size: max(2.1vw, 2.1vh);
    line-height: max(2.0vw, 2.0vh);
    color: #FFFFFF;
    text-align: left;
}
.button-area button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24vw;
    height: 8vw;
    background: #212425;
    border: max(.1vw, 1vh) solid #C13120;
    box-shadow: 0px 0px 204px #E76429;
    border-radius: max(6vw, 6vh);
    cursor: pointer;
}
.button-area button i{
    display: block;
    height: 100%;
    width: 30%;
    background: #C13120;
    border-radius: 100%;
}
.button-area button span{
    font-weight: 400;
    font-size: max(1.7vw, 1.7vh);
    line-height: max(2vw, 2vh);
    color: #FFFFFF;
    text-align: left;
    margin-right: 1.5vw;
}
.button-title{
    font-weight: 900;
    font-size: max(3.1vw, 3.1vh);
    line-height: max(3.8vw, 3.8vh);
    color: #FFFFFF;
}
.second_subblock{
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second_subblock img{
    width: 5vw;
}

.second_subblock p{
    width: 35vw;
    font-weight: 400;
    font-size: max(1.7vw, 1.7vh);
    line-height: max(2vw, 2vh);
    color: #FFFFFF;
}
.reasons{
    width: 85vw;
    height: 35vw;
    margin: auto;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 0;
}
.content-title.short{
    max-width: 50vw;
    margin-bottom: 2vw;
}
.content-subtitle.short{
    max-width: 50vw;
}
.block{
    width: 80vw;
    margin: 5vw auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block .reason{
    padding: 5vw 3vw;
}
.a img{
    width: 25vw;
    height: 14vw;
    background: red;
}
.owl-carousel{
    position: relative;
    width: 30vw;
}
.a{
    margin: auto;
    width: 25vw;
    height: 14vw;
    border-radius: 8%;
    overflow: hidden;
    background: orange;
}
.owl-dots{
    text-align: center;
    z-index: 17;
}
.owl-dot{
    display: inline-block;
    zoom: 1;
}
.owl-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140%;
    height: 100%;
    top: 0;
    left: -20%;
    position: absolute;
    z-index: -1;
}
.owl-prev span img, .owl-next span img{
    width: 5vw;
}
.owl-dot span{
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-dot.active span{
    background: white;

}
.proffs{
    width: 65vw;
    margin: 5vw auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.proff{
    display: inline-block;
    padding: 1vw;
    font-size: max(1.7vw, 1.7vh);
    line-height: max(2.0vw, 2.0vw);
    background: rgba(32, 32, 32, 0.7);
    border-radius: .5vw;
    color: white;
    margin: .5vw;
}
.img2 {
     position: relative; 
     margin-top: 70vw;
}
.img2::before{
    position: absolute;
     width: 80vw;
     height: 80vw; 
     content: '';
     background-image: url(../img/landing4/img2.webp);
     background-position: center center;
     background-size: cover;
     top: -75vw;
     left: -80%;
}

.content-title span{
    background: linear-gradient(90deg, #EE2F2A 4%, #E76429 132.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.timer{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2vw;
}
.timer span{
    color: white;
    font-weight: 500;
    font-size: max(8vw, 8vh);
    line-height: max(9.5vw, 9.5vh);
}
.timer p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.timer p span.measure{
    font-size: max(1.3vw, 1.3vh);
    line-height: max(1.6vw, 1.6vh);
}
.more-margin-top{
    margin-top: 3vw;
}
.tariffs{
    margin: 5vw;
    width: 52vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.tariff{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25vw;
    padding: 2vw 2.3vw;
    border-radius: 0 max(1.6vw, 1.6vh) max(1.6vw, 1.6vh) max(1.6vw, 1.6vh);
    border: .26vw solid rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(17px);
            backdrop-filter: blur(17px);
}
.tariff_title{
    font-weight: 900;
    font-size: max(2.6vw, 2.6vh);
    line-height: max(3.2vw, 3.2vh);
}
.tariff hr{
    border-color: black;
    margin: 1.6vw 0;
}
.tariff p{
    font-weight: 400;
    font-size: max(1.3vw, 1.3vh);
    line-height: max(1.6vw, 1.6vh);
}
.tariff p span{
    font-weight: 800;
    font-size: max(2.3vw, 2.3vh);
    line-height: max(2.9vw, 2.9vh);
    margin-left: 1.5vw;
}
.tariff a{
    padding: 2vw 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: max(1.3vw, 1.3vh);
    line-height: max(1.6vw, 1.6vh);
    color: white;
    background: linear-gradient(91.95deg, #B8241D 2.9%, #E5632B 119.2%);
    box-shadow: 0px 4px 44px rgba(96, 224, 253, 0.7);
    border-radius: max(8.7vw, 8.7vh);
    margin-top: 2vw;
}
.tariff.black a{
    color: #03090B;
    background: linear-gradient(92.17deg, #FFFFFF 4.33%, #FFFFFF 145.88%);
    box-shadow: 0px 4px 44px rgba(255, 255, 255, 0.6);  
}
.tariff li{
    position: relative;
    list-style: none;
    font-weight: 400;
    font-size: max(1.3vw, 1.3vh);
    line-height: max(1.6vw, 1.6vh);
    color: white;
    padding: 2vw 0 0 2vw;
}
.tariff li::before{
    position: absolute;
    content: '';
    display: block;
    width: .8vw;
    height: .8vw;
    top: 2.5vw;
    left: 0;
    border-radius: 100%;
    background: white;
}
.tariff.white{
    background: white;
}
.tariff .plus{
    text-align: center;
    font-weight: bolder;
    font-size: 3vw;
    padding-top: 2vw;
}
.tariff ul{
    margin-bottom: 2vw;
}
.tariff.black{
    background: linear-gradient(180deg, #B5201C 0%, #E9672A 103.88%);
}
.tariff.black p{
    color: white;
}
.tariff.black hr{
    border-color: white;
}
.tariff.black .tariff_title,
.tariff.black .plus,
.tariff.black p span{
    color: white;
}
.small-title{
    max-width: 50vw;
}
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    z-index: 1;
}
.cover img { position: absolute; }

#bl1{
    padding-bottom: 5vw;
    margin-bottom: 5vw;
}
.black{
    position: absolute;
    display: block;
    background: black;
    background-image: url(../img/landing4/bg1.webp);
    background-size: cover;
    background-position: left top;
    width: 100%;
    height: 120%;
    top: -20%;
    left: 0;
}
#img1{
    height: 100%;
    bottom: -0%;
    left: 5%;
    z-index: 2;
}
.line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background: white;
    z-index: 100;
    bottom: -10%;
    width: 200vw;
    padding: 1vw 0;
}
.line span{
    font-weight: 900;
    font-size: max(3vw, 3vh);
    line-height: max(3.8vw, 3.8vh);

    background: linear-gradient(90.22deg, #B6211D -5.33%, #E8662A 162.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}
.line span.dot{
    width: 2vw;
    height: 2vw;
    display: block;
    border-radius: 100%;
    background: linear-gradient(109.15deg, #B6211D -1.25%, #EB692A 98.56%);;
}