main{
    width: 100%;
    overflow: hidden;
    background: #F5F5F5;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
article { position: relative; }
.content{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5vw 0;
    z-index: 2;
}
.content-title{
    font-weight: 800;
    font-size: 2.5vw;
    line-height: 3.1vw;
    color: #303030;
    text-align: center;
    max-width: 80vw;
}
h1.content-title{
    font-size: 4vw;
    margin-bottom: 5vh;
}
.content-description{
    display: inline-block;
    width: auto;
    padding: 1.2vw 2.8vw;
    margin: 1.2vw auto;
    background: rgba(255, 255, 255, .8);
    border: .2vw solid rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(52px);
            backdrop-filter: blur(52px);
    border-radius: 1.8vw;
    max-width: 80vw;
}
.content-description.blur{
    background: rgba(255, 255, 255, .4);
}
.content-description p{
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.9vw;
    text-align: center;
    color: #303030;
}
.content-more{
    font-weight: 700;
    font-size: 2.3vw;
    line-height: 1.6vw;
    text-decoration: none;
    color: white;

    border: none;
    border-radius: 3.5vw;
    background: #6BC24C;
    padding: 2.2vw 4.5vw;
    -webkit-filter: drop-shadow(0px 4px 44px #6CC34D);
            filter: drop-shadow(0px 4px 44px #6CC34D);
}
.content-prises{
    position: relative;
    margin: 5vw 0;
    width: 55vw;
    height: 55vw;
}
.content-deal{
    margin-top: 4vw;
    max-width: 60vw;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 2vw;
    text-align: center;
    
    color: #6CC34D;
}
.content-deal a { color: #6CC34D; }
#circle-bg{
    position: absolute;
    display: block;
    width: 55vw;
    height: 55vw;
    background-image: url(../img/prise-circle/circle-bg.webp);
    background-size: cover;
    background-position: center center;
}
#circle-bg::before{
    content: '';
    position: absolute;
    display: block;
    width: 5vw;
    height: 8vw;
    left: 25vw;
    top: -2.5vw;
    background-image: url(../img/prise-circle/circle-detail.webp);
    background-size: cover;
    background-position: center center;
    z-index: 50;
}
#circle-bg::after{
    content: '';
    position: absolute;
    display: block;
    width: 5vw;
    height: 5vw;
    left: 25vw;
    top: 25vw;
    background-image: url(../img/prise-circle/circle-center.webp);
    background-size: cover;
    background-position: center center;
    z-index: 50;
}
#circle{
    position: absolute;
    display: block;
    width: 50vw;
    height: 50vw;
    top: 2.5vw;
    left: 2.5vw;
    background-image: url(../img/prise-circle/circle-info.webp);
    background-size: cover;
    background-position: center center;
    z-index: 20;
}
.midlle-line::before{
    position: absolute;
    content: '';
    width: 100vw;
    height: .1vw;
    background: #6cc34d;
    top: 50%;
}
.appeal{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 49vw;
    height: 23vw;
    background: rgba(255, 255, 255, 0.2);
    border: .3px solid rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(52px);
            backdrop-filter: blur(52px);
    border-radius: 1.6vw;
    z-index: 200;
}
.appeal .lost p{
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 2vw;
    text-align: center;
}
.appeal a{
    font-weight: 700;
    font-size: 1.8vw;
    line-height: 2.1vw;
    text-align: center;
    text-decoration: none;
    color: #6CC34D;
    border-radius: 5vw;
    padding: 2.1vw 2.4vw;
    border: .1vw solid #6CC34D;
}

.terms-of-action{
    font-weight: 600;
    font-size: 1.7vw;
    line-height: 2vw;
    text-align: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
.question-email{
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 2vw;
    text-align: center;
    color: #8F8F8F;
    margin: 2.5vw 0;

}
.question-email a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 2vw;
    text-align: center;
    color: #8F8F8F;
}
.large-logo{
    width: 20vw;
}
.pay-systems{
    width: 38vw;
    margin: 2.5vw 0;
}
.links-s{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60vw;
}
.links-s a{
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.8vw;
    color: #303030;
    text-align: center;
    margin-bottom: 1vw;
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    z-index: 1;
}
.cover img { position: absolute;}

#first_bg{
    position: absolute;
    display: block;
    width: 100vw;
    height: 50vh;
    background: #FFD645;
    top: 0; left: 0;
}
#first_bg::before{
    position: absolute;
    content: '';
    display: block;
    width: 0vw;
    height: 0vh;
    bottom: -50vh; left: 0;
    border-top: 50vh solid #FFD645;
    border-left: 50vw solid transparent;
}
#first_bg::after{
    position: absolute;
    content: '';
    display: block;
    width: 0vw;
    height: 0vh;
    bottom: -50vh; right: 0;
    border-top: 50vh solid #FFD645;
    border-right: 50vw solid transparent;
}

#o00{ width: 100vw;}

#o11 { width: 12vw; top: -20%; left: 2%; }
#o12 { width: 8vw; bottom: -2%; right: 2%; }
#o13 { width: 6vw; top: -40%; right: 5%; }

#o21 { width: 10vw; top: 50%; left: 5%; }
#o22 { width: 10vw; top: 2%; left: 5%; }
#o23 { width: 5vw; bottom: 2%; right: 5%; }

@media (orientation: portrait) {
    main{
        padding-top: 5vh;
        padding-bottom: 2vh;
    }
    
    .content{
        padding: 10vw 0;
    }
    .content-title{
        font-size: max(2.5vh, 2.5vw);
        line-height: max(3.1vh, 3.1vw);
    }
    .content-description{
        padding: 1.2vh 2.8vh;
        margin: 2vh auto;
        border-radius: 1.8vh;
    }
    .content-description br { display: none; }
    .content-description p{
        font-size: max(1.5vh, 1.5vw);
        line-height: max(1.9vh, 1.9vw);
    }

    .content-more{
        font-size: 2.3vh;
        line-height: 1.6vh;
    
        border-radius: 3.5vh;
        padding: 2.2vh 4.5vh;
    }
    .content-prises{
        position: relative;
        margin: 5vh 0;
        width: 75vw;
        height: 75vw;
    }
    .content-deal{
        margin-top: 4vh;
        max-width: 90vw;
        font-size: 1.7vh;
        line-height: 2vh;
        
        color: #6CC34D;
    }
    #circle-bg{
        width: 75vw;
        height: 75vw;
    }
    #circle-bg::before{
        width: 7.5vw;
        height: 12vw;
        left: 33.5vw;
        top: -5.5vw;
    }
    #circle-bg::after{
        width: 7.5vw;
        height: 7.5vw;
        left: 33.5vw;
        top: 33.5vw;
    }
    #circle{
        width: 70vw;
        height: 70vw;
        top: 2.5vw;
        left: 2.5vw;
    }
    .midlle-line::before{
        position: absolute;
        content: '';
        width: 100vw;
        height: .1vw;
        background: #6cc34d;
        top: 50%;
    }
    .appeal{
        width: 80vw;
        height: 40vw;
        border-radius: 1.6vh;
    }
    .appeal .lost p{
        font-weight: 400;
        font-size: 1.7vh;
        line-height: 2vh;
        text-align: center;
    }
    .appeal a{
        font-size: 1.8vh;
        line-height: 2.1vh;
        border-radius: 5vh;
        padding: 2.1vh 2.4vh;
        border: .1vh solid #6CC34D;
    }
    
    .terms-of-action{
        font-size: 1.7vh;
        line-height: 2vh;
    }
    .question-email{
        font-size: 1.7vh;
        line-height: 2vh;
        margin: 2.5vh 0;
    }
    .question-email a{
        font-size: 1.7vh;
        line-height: 2vh;
    }
    .large-logo{
        width: 60vw;
    }
    .pay-systems{
        width: 80vw;
        margin: 2.5vh 0;
    }
    .links-s{
        width: 80vw;
    }
    .links-s a{
        font-size: 1.3vh;
        line-height: 1.8vh;
        margin-bottom: 1vh;
    }
    
    #first_bg{
        position: absolute;
        display: block;
        width: 100vw;
        height: 50vh;
        background: #FFD645;
        top: 0; left: 0;
    }
    #first_bg::before{
        position: absolute;
        content: '';
        display: block;
        width: 0vw;
        height: 0vh;
        bottom: -25vh; left: 0;
        border-top: 25vh solid #FFD645;
        border-left: 50vw solid transparent;
    }
    #first_bg::after{
        position: absolute;
        content: '';
        display: block;
        width: 0vw;
        height: 0vh;
        bottom: -25vh; right: 0;
        border-top: 25vh solid #FFD645;
        border-right: 50vw solid transparent;
    }
    
    #o00{ height: 100vh; width: auto;}
}